<div class="experienceBody" id="experience">
  <h1 class="experienceTitle">EXPERIENCIA</h1>
  <nav class="experienceList">
    <div class="experienceListContainer">
      <ul class="experienceListInfo">
        <li *ngFor="let experience of experienceList" class="experienceInfo" id="{{experience.payload.doc.data().id}}" (click)="mark()">
          <a class="experienceLink" routerLink="./{{experience.payload.doc.data().component}}" [ngClass]="{'mainItem': currentHref === experience.payload.doc.data().id }">{{experience.payload.doc.data().title}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <div [@routeAnimations]="prepareRoute(outlet)" class="experienceTopics">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
