<div class="body-experience" id="experience">
    <h1> EXPERIENCIA </h1>
    <nav class="experience-list">
        <div class="experience-list-div">
            <ul class="experience-ul">
                <li class="experience-li" id="php" routerLinkActive="active"><span>PHP</span><a class="experience-link" routerLink=""></a></li>
                <li class="experience-li" id="angular" routerLinkActive="active"><span>JavaScript / Angular</span><a class="experience-link" routerLink=""></a></li>
                <li class="experience-li" id="laboral" routerLinkActive="active"><span>Laboral</span><a class="experience-link" routerLink=""></a></li>
            </ul>
        </div>
    </nav>
    <div class="experience-topics">
        <router-outlet></router-outlet>
    </div>
</div>
