<div class="body-experience" id="experience">
  <h1>EXPERIENCIA</h1>
  <nav class="experience-list">
    <div class="experience-list-div">
      <ul class="experience-ul">
        <li class="experience-li" id="php">
          <a class="experience-link" routerLink="">PHP</a>
        </li>
        <li class="experience-li" id="angular">
          <a class="experience-link" routerLink="">JavaScript / Angular</a>
        </li>
        <li class="experience-li" id="laboral">
          <a class="experience-link" routerLink="">Laboral</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="experience-topics">
    <router-outlet></router-outlet>
  </div>
</div>
