.contactBody {
  height: 770px;
  padding-top: 90px;
}

.contactInfo{
  position: relative;
}

.contactTitle {
  text-align: center;
  font-size: 50px;
}

@media (max-width: 950px) {
  .contactTitle {
    font-size: 35px;
  }
  .contactBody {
    padding-top: 120px;
  }
}
@media (min-width: 951px) and (max-width: 1024px) {
  .contactBody {
    padding-top: 120px;
  }
}
@media (min-height: 1024px) and (max-height: 1024px) {
  .contactBody {
    height: 825px;
  }
}

@media (min-height: 1366px) and (max-height: 1366px) {
  .contactBody {
    height: 1200px;
  }
}
