<div class="body-contact" id="contact">
    <h1> CONTACTO </h1>
    <div class="contact-info-personal">
        <h2 class="contact-name">CRISTIAN ARRANZ AREVALO</h2>
        <h3 class="contact-information">
            <p>Full Stack Developer</p>
            <p>PHP / JavaScript / Angular</p>
            <p>Email: c.arranz.arevalo@gmail.com</p>
        </h3>
    </div>
    <div class="contact-info-social">
        <div class="social">
            <a href="https://github.com/CrisArranz">
                <img class="img-social" title="Github" src="../../assets/github.png">  
            </a>
            <a href="https://twitter.com/CrisArranz3">
                <img class="img-social" title="Twitter" src="../../assets/gorjeo.png">  
            </a>
            <a href="https://www.linkedin.com/in/cristian-arranz-arevalo-a2789a112/">
                <img class="img-social" title="Linkedin" src="../../assets/linkedin.png">  
            </a>
        </div>
    </div>
</div>
