<div class="knowme-elements" id="concerns-element">
    <div>
        <h3>Inquietudes</h3>
        <p>Me considero una persona curiosa, con grandes ganas de aprender y con el conocimiento de que puedo mejorar muchisimo.<br>
            Amante del trabajo en equipo y todas las metodologías que apoyan este punto.<br>
            Me encantan los retos y abordarlos de la mejor manera posible tanto individualmente como colectivamente.<br>
            Disfruto del trabajo cada dia para regresar con las mismas ganas al dia siguiente.
        </p>
    </div>
</div>
