nav ul {
	list-style: none;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-image: url('../../assets/1519910473_492871_1519910821_noticia_normal.jpg');
    padding-top: 10px;
    padding-bottom: 10px;
}
 
nav ul li {
    float: left;
    margin: 10px;
}
 
nav ul li a {
	display: block;
	padding:10px;
	color:#fff;
    text-decoration: none;
    width: 80px;
    text-align: center;
}
 
nav ul li a:hover {
    color:#2980b9;
    font-weight: bold;
    cursor: pointer;
    
}

h4{
    font-weight: normal;
}

.header-content{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-image: url('../../assets/1519910473_492871_1519910821_noticia_normal.jpg');
    color: white;
}

.header-nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-nav-list-link{
    text-decoration: none;
    color: white;
}
.header-prncl{
    text-align: center;
    padding-top: 405px;
    padding-bottom: 405px;
}

.container{
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.container-name-h1{
    display: inline-block;
    position: relative;
    margin: 20px 0px 0px 0px;
}

.container-name-h1::before, .container-name-h1::after{
    content: " ";
    display: inline-block;
    height: 2px;
    margin: 0 10px;
    position: absolute;
    top: 50%;
    width: 80px;
    zoom: 1;
    background-color: white;
}

.container-name-h1::before{
    left: 100%;
}
.container-name-h1::after{
    right: 100%;
}

.container-name-h1-p{
    margin: 0px;
    font-size: 70px;
}
.container-prename-h4{
    margin: 0px;
    font-size: 35px;
}

@media (max-width: 950px){
    .container-name-h1::before, .container-name-h1::after{
        content: "";
        display: none;
        height: 0px;
        margin: 0px;
        position: absolute;
        top: 0;
        width: 0;
        zoom: 0;
        background-color: white;
    }
    .container-name-h1-p{
        margin: 0px;
        font-size: 150%;
    }
    .container-prename-h4{
        margin: 0px;
        font-size: 150%;
    }
    .header-prncl{
        padding-top: 460px;
        padding-bottom: 460px;
    }
    .header-nav{
        font-size: 13px;
    }
}
@media (max-width: 767px){
    .header-prncl{
        padding-top: 270px;
    }
}