<div class="headerContent" id="inicio">
    <nav class="headerList">
        <ul class="headerListInfo">
            <li><a class="headerLink" (click)="navigateTo('navigateTo',1500)" routerLink="/knowme">Conóceme</a></li>
            <li><a class="headerLink" (click)="navigateTo('navigateTo',1500)" routerLink="/experience">Experiencia</a></li>
            <li><a class="headerLink" (click)="navigateTo('navigateTo',1500)" routerLink="/contact">Contacto</a></li>
        </ul>
    </nav>
    <div class="headerPrncl">
        <div class="container">
            <div class="prename">
                <h4 class="prenameTitle">
                    <em>Hey, I'm</em>
                </h4>
            </div>
            <div class="name">
                <h1 class="nameBox">
                    <p class="nameTitle">
                        <strong>CRISTIAN ARRANZ</strong>
                    </p>
                </h1>
            </div>
        </div>
    </div>
</div>