<div class="header-content" id="inicio">
    <nav class="header-nav">
        <ul class="header-nav-list">
            <li><a class="header-nav-list-link" (click)="navigateTo('navigateto',1500)" routerLink="/knowme">Conóceme</a></li>
            <li><a class="header-nav-list-link" (click)="navigateTo('navigateto',1500)" routerLink="/experience">Experiencia</a></li>
            <li><a class="header-nav-list-link" (click)="navigateTo('navigateto',1500)" routerLink="/contact">Contacto</a></li>
        </ul>
    </nav>
    <div class="header-prncl">
        <div class="container">
            <div class="container-prename">
                <h4 class="container-prename-h4">
                    <em>Hey, I'm</em>
                </h4>
            </div>
            <div class="container-name">
                <h1 class="container-name-h1">
                    <p class="container-name-h1-p">
                        <strong>CRISTIAN ARRANZ</strong>
                    </p>
                </h1>
            </div>
        </div>
    </div>
</div>