.header-prncl{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url('../../assets/1519910473_492871_1519910821_noticia_normal.jpg');
    min-height: 0px;
    color: white;
    text-align: center;
    padding-top: 385px;
    padding-bottom: 385px;
    font-size: 40px;
}

.container{
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1056px;
}