.footer-prj{
    height: 60px;
    color: black;
    opacity: 50%;
}

#copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    width: 100%;
}

@media (max-width: 950px){
    #copyright{
        font-size: 70%;
    }
}