.footerPrj {
  height: 60px;
  color: black;
  opacity: 50%;
  border-top: solid 1px grey;
}

.copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 80%;
  font-weight: bold;
  width: 100%;
}

.copyrightName::after {
  content: " | ";
}

.copyrightImage {
  content: url('../../assets/copyright.svg');
  width: 10px;
  height: 10px;
}
.copyrightImage::after, .copyrightImage::before {
  content: " ";
}

@media (max-width: 950px) {
  .copyright {
    font-size: 70%;
  }
}
