.footer-prj{
    height: auto;
    color: black;
    opacity: 50%;
    margin-top: 5px;
}
.img-social{
    width: 45px;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 10px;;
}
#footer-prj-info-social{
    float: right;
    margin-top: 5px;
}
#copyright{
    margin-top: 15px;
    float: left;
    font-size: 80%;
    font-weight: bold;
    width: 50%;
}