<div class="footer-prj">
    <span id="copyright">Copyright © 2019 Cristian Arranz | Todos los derechos reservados</span>
    <div id="footer-prj-info-social">
        <a href="https://github.com/CrisArranz">
            <img class="img-social" title="Github" src="../../assets/github.png">  
        </a>
        <a href="https://twitter.com/CrisArranz3">
            <img class="img-social" title="Twitter" src="../../assets/gorjeo.png">  
        </a>
        <a href="https://www.linkedin.com/in/cristian-arranz-arevalo-a2789a112/">
            <img class="img-social" title="Linkedin" src="../../assets/linkedin.png">  
        </a>
    </div>
</div>