.navigateTo {
  position: relative;
  height: 860px;
  overflow: hidden;
}

@media (max-width: 950px) {
  .navigateTo {
    height: 890px;
  }
}

@media (min-height: 1366px) and (max-height: 1366px) {
  .navigateTo {
    height: 1310px;
  }
}

@media (min-height: 1024px) and (max-height: 1024px) {
  .navigateTo {
    height: 915px;
  }
}
