.knowMeBody {
  height: 770px;
  padding-top: 90px;
}

.KnowMeTitle {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.knowMeInfo {
  border: 1px solid black;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.knowMeListInfo {
  list-style: none;
  width: 140px;
}

.knowMeLink {
  text-decoration: none;
  border-radius: 40px;
  color: black;
  display: block;
  text-align: center;
  padding: 15px;
}

.knowMeList {
  width: fit-content;
  float: left;
  margin-top: 100px;
  margin-left: 100px;
}

.knowMeListContainer {
  margin-top: 0px;
}

.knowMeLink:hover,
.mainItem {
  font-weight: bold;
  color: white;
  background-color: #2980b9;
  cursor: pointer;
}

.knowMeTopics {
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}

@media (max-width: 950px) {
  .KnowMeTitle {
    font-size: 35px;
  }
  .knowMeTopics {
    margin-top: 35px;
    width: 90%;
  }
  .knowMeBody {
    padding-top: 120px;
  }
  .knowMeInfo {
    display: inline-block;
    text-align: center;
    padding: 0px;
    border: 1px solid black;
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .knowMeLink {
    padding: 10px;
  }
  .knowMeList {
    width: fit-content;
    margin: 0px auto;
    float: none;
    font-size: 10px;
  }

  .knowMeListContainer {
    margin-top: 10px;
  }
  .knowMeListInfo {
    width: fit-content;
  }
}
@media (min-height: 1366px) and (max-height: 1366px) {
  .knowMeBody {
    height: 1200px;
  }
  .knowMeList {
    margin-left: 60px;
  }
  .knowMeListInfo{
    width: 120px;
  }
}

@media (min-height: 1024px) and (max-height: 1024px) {
  .knowMeBody {
    height: 825px;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .knowMeBody {
    padding-top: 120px;
  }
  .knowMeList {
    margin-left: 40px;
  }
}
