<div class="body-knowme" id="knowme">
    <h1> CONÓCEME </h1>
    <nav class="knowme-list">
        <div class="knowme-list-div">
            <ul class="knowme-ul">
                <li class="knowme-li" id="estudios"><a class="knowme-link" routerLink="./knowme/knowledge">Estudios</a></li>
                <li class="knowme-li" id="aficiones"><a class="knowme-link" routerLink="./knowme/hobbies">Aficiones</a></li>
                <li class="knowme-li" id="gustos"><a class="knowme-link" routerLink="./knowme/likes">Gustos</a></li>
                <li class="knowme-li" id="intereses"><a class="knowme-link" routerLink="./knowme/interests">Intereses</a></li>
                <li class="knowme-li" id="inquietudes"><a class="knowme-link" routerLink="./knowme/concerns">Inquietudes</a></li>
            </ul>
        </div>
    </nav>
    <div class="knowme-topics">
        <router-outlet></router-outlet>
    </div>
</div>
