.body-knowme{
    height: 950px;
    padding-top: 120px;
    background-color: #D6D9DE;
}

h1 {
    text-align: center;
    font-size: 50px;
}


.knowme-ul, .knowme-li{
    list-style: none;
    border: 1px solid black;
}

.knowme-link{
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 15px;
}

.knowme-list{
    width: fit-content;
    float: left;
    margin-top: 100px;
    margin-left: 50px; 
}

.knowme-list-div{
    margin-top: 0px;
}

.knowme-li:hover, .knowme-link:hover{
    color:white;
    background-color: #2980b9;
    cursor: pointer;
}

.knowme-topics{
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: gainsboro;
}

@media (max-width: 950px){
    .body-knowme{
        padding-top: 180px;
    }
    .knowme-li{
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: 1px solid black;
    }
    .knowme-list{
        width: fit-content;
        margin: 0px auto;
        float: none;
        font-size: 13px;
    }

    .knowme-list-div{
        margin-top: 10px;
    }
}